<div style="position: relative; top: 300px; width: 90%; margin:0 auto;text-align: center;">
  Enter Date in BS: <input (change)="bsDate=$event.target.value" placeholder="yyyy/m/d" />
  <button (click)="validateGivenDateAndConvert('BS')">Convert to AD</button><br />
  Enter Date in AD: <input (change)="adDate=$event.target.value" placeholder="yyyy/m/d" />
  <button (click)="validateGivenDateAndConvert('AD')">Convert to BS</button>

  <h4>Output:</h4>
  <div *ngIf="result.length>0">
    <h5 *ngFor="let data of result">
      {{data}}
    </h5>
  </div>
</div>